.ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.list {
  display: inline;
}

img {
  display: block;
  margin: 0 auto;
}

.catVideo {
  width: 40%;
  display: block;
  margin: 0 auto;
}
